swagger: '2.0'
info:
  title: digitalocean-builder
  description: Rest API for metadata 
  version: "0.1.0"
host: digitalocean-builder.wpesvc.net
consumes:
  - application/json
produces:
  - application/json
basePath: /v1
paths:
  /status:
    get:
      summary: digitalocean-builder Service Status
      operationId: getStatus
      description: |
        The status endpoint returns information about the service. If the service is able to process the request,
        it will always return a 200 response code, but its payload may indicate other problems with the service.
      tags:
        - Status
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/Status"

# For additional endpoints, make sure that the have security in place, for example:
#
# security:
#   - google_id_token: []
#   - firebase: []

definitions:
  ServiceStatusMap:
    type: object
    description: A map of the various backend services and their statuses
    properties:
      default:
        $ref: '#/definitions/ServiceStatus'
      additionalProperties:
        $ref: '#/definitions/ServiceStatus'

  ServiceStatus:
    type: object
    required:
      - success
    properties:
      success:
        type: boolean
        description: Is the service healthy?

  Status:
    type: object
    required:
      - success
      - created_on
    properties:
      success:
        type: boolean
        description: Is the service healthy?
      created_on:
        type: string
        description: Time in milliseconds
      authenticated:
        type: boolean
        description: Is the user (requestor) authenticated?
      services:
        type: object
        items:
          $ref: "#/definitions/ServiceStatusMap"
      git_sha:
        type: string
        description: The sha of the code running in this release
      version:
        type: string
        description: The version of the code running in this release

securityDefinitions:
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-jwks_uri:
      "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
  google_id_token:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://accounts.google.com"
    x-google-jwks_uri: "https://www.googleapis.com/oauth2/v3/certs"
    x-google-audiences: "wp-engine-corporate"