# This is where our logical requirements should be specified.
# The specific versions will be frozen in requirements.txt
# See https://www.kennethreitz.org/essays/a-better-pip-workflow for motivation

-r requirements.indexes

celery[redis]
Django>=2.1.4
djangorestframework
django-celery-results
django-filter
dj-database-url
markdown
psycopg2-binary
pip-tools
requests
uwsgi
wpe-django-auth
wpe-django-logging
wpe-django-swagger

# Monitoriing
newrelic
rollbar
django-prometheus

# celery (above) depends on kombu, but at an older version, which has bugs
# with python 3.7. Force it to use a newer version:
kombu>=4.2